/* main.css for zachary stall portfolio page 2 */

@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

html, body, h1, h2, h3, h4, p, div, ul, ol, li {
	padding: 0;
	border: 0;
	margin: 0;
	font: inherit;
	font-size: 10px;
}

h1 {
	font-family: Montserrat, Lato, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 6em;		/*60px/10px*/
	font-weight: bold;
	text-align: center;
	color: #ffffff;
}

h2 {
	font-family: Montserrat, Lato, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 2.5em;		/*25px/10px*/
	font-weight: bold;
	text-align: center;
	color: #ffffff;
}

h3 {
	font-family: Montserrat, Lato, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.8em;		/*18px/10px*/
	font-weight: 200;
	text-align: center;
	color: #000000;
}

p {
	font-family: Montserrat, Lato, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.4em;		/*14px/10px*/
	font-weight: 100;
	color: #000000;	
}

header {
	background-color: #2d2d2d;
	padding: 0.5%;
}

.main, #tagline {
	width: 50%;
	margin: 0 auto;
}

#tagline h3,.main h3, .skills h3 {
	padding-top: 2.5%;
	border-bottom: 2px solid black;
}

#tagline p, #headerp, #skills p, #badgestagline {
	text-align: center;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
}

#pcbackground {
	background-color: #d2d2d2;
}

#pcbuilds {
	max-width: 100%;
	display: table;
	margin: 0 auto;
}

#pcbuilds ul, #skillsul, #badgesul {
	list-style-type: none;
}

#img-table {
	
}

#img1 {
	padding: 1px;
}

#img2 {
	padding: 1px;
}

#pcbuilds li img {
	padding: 5px 5px;
	height: auto;
	width: 95%;
}

#skillsul li {
	font-family: Montserrat, Lato, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	background-color: #2d2d2d;
	color: #ffffff;
	display: inline;
	padding: 4px;
	margin: 0 auto;
}

#skillsbackground, #badgesul {
	display: table;
	margin: 20px auto;
}

#badgesul li {
	padding-bottom: 8.0%;
}

#badgesul img {
	float: left;
	padding-right: 2.0%;
}

#badgesul p {
	text-align: left;

}

.footer-social-icons {
	background-color: #2d2d2d;
	width: 100%;
	display: block;
	margin: 0 auto;
}

.social-icon {
	color: ##2d2d2d;
}

.footer-social-icons h3, .footer-social-icons p, #email {
	color: #fff;
	padding: 1%;
	text-align: center;
}


.social-icons li {
	vertical-align: top;
	display: inline;
	margin: .25%;
}

#sibackground {

}


.social-icons a {
	color: #2d2d2d;
	text-decoration: none;
}

.fa-facebook {
    margin-left: 37%;
    padding: 1% 1.4%;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #d2d2d2;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}

.fa-twitter {
    padding:1% 1.4%;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #d2d2d2;
}
.fa-twitter:hover {
    background-color: #00aced;
}

.fa-git {
    padding:1% 1.4%;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #d2d2d2;
}
.fa-git:hover {
    background-color: #eb8231;
}

.fa-instagram {
    padding:1% 1.4%;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #d2d2d2;
}
.fa-instagram:hover {
    background-color: #fb3958;
}

.fa-linkedin {
    padding:1% 1.4%;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #d2d2d2;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}

.fa-google {
	margin-right: 25%;
    padding:1% 1.4%;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #d2d2d2;
}
.fa-google:hover {
    background-color: #e25714;
}

/*----------------------------------------------------------
Media Queries
------------------------------------------------------------*/

/* <480px for pc builds 

@media screen and (max-width: 900px) {
	#pcbuilds {
	display: table;
	margin: 0 auto;
	}

	#pcbuilds img {
		width: 50%;
		height: 50%;
	}
}

*/